/*
Syntax error: File to import not found or unreadable: spacing.
              Load paths:
                /Users/cameron/Sites/Devops/sass
                /Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/blueprint/stylesheets
                /Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets
                /Users/cameron/.rvm/gems/ruby-2.1.1/gems/bootstrap-sass-3.1.1.1/vendor/assets/stylesheets
                Compass::SpriteImporter
                /Users/cameron/.rvm/gems/ruby-2.1.1/gems/bootstrap-sass-3.1.1.1/vendor/assets/stylesheets
        on line 11 of /Users/cameron/Sites/Devops/sass/styles.scss

Backtrace:
/Users/cameron/Sites/Devops/sass/styles.scss:11
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/bin/compass:44:in `call'
/Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/Users/cameron/.rvm/gems/ruby-2.1.1/bin/compass:23:in `load'
/Users/cameron/.rvm/gems/ruby-2.1.1/bin/compass:23:in `<main>'
/Users/cameron/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/cameron/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: spacing.\A               Load paths:\A                 /Users/cameron/Sites/Devops/sass\A                 /Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/blueprint/stylesheets\A                 /Users/cameron/.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets\A                 /Users/cameron/.rvm/gems/ruby-2.1.1/gems/bootstrap-sass-3.1.1.1/vendor/assets/stylesheets\A                 Compass::SpriteImporter\A                 /Users/cameron/.rvm/gems/ruby-2.1.1/gems/bootstrap-sass-3.1.1.1/vendor/assets/stylesheets\A         on line 11 of /Users/cameron/Sites/Devops/sass/styles.scss"; }
